.project {
    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 2rem;
        text-align: center;
    }
    &-entry {
        &>p {
            margin: .25rem 0;
            padding: 0;
            line-height: 1.2rem;
        }
        display: flex;
        &__label {
            width: 30%;
        }
        &__data {
            width: 70%;
            font-family: sans-serif;
        }
    }
}

.btn {
    &--edit {
        font-size: .7rem;
        color: #FA114F;
        cursor: pointer;
        align-self: flex-end;
    }
}